<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Play</title>
</head>
<body>
	<h1>Blackjack</h1>

	<h1>Player's Hand</h1>
	{{#game.player.cards}}
	<div>{{ face }} of {{ suit }}</div>
	{{/game.player.cards}}
	<div>Player {{game.player.total}}</div>
	<div>You have ${{ game.purse.money }}</div>

	<h1>Dealer's Hand</h1>
	{{game.dealer.cards.0.face}} {{game.dealer.cards.0.suit}}


	<p>The deck has {{ game.deck.size }} cards</p>
	<form action="/hit" method="post">

		<button>Hit Me</button>
	</form>

	<form action="/stand" method="post">
		<button>Stand</button>
	</form>

	<form action="/reset" method="post">

		<button>Reset Game</button>



	</form>
</body>
</html>
