<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Summary</title>
</head>
<body>

	<h>Casino</h1>
	<h1>Player's Hand</h1>
	{{#game.player.cards}}
	<div>{{ face }} of {{ suit }}</div>
	{{/game.player.cards}}
	<div>Player has {{game.player.total}}</div>


	<h1>Dealer's Hand</h1>
	{{#game.dealer.cards}}
	<div>{{ face }} of {{ suit }}</div>
	{{/game.dealer.cards}}
	<div>Dealer has {{game.dealer.total}}</div>


	<div>You have ${{ game.purse.money }}</div>

	<form method="post" action="/bet">
		<input required autofocus type="number" name="bet">
		<button>Place your bet</button>

	</form>
</body>
</html>
